.statsImg {
    max-width: 22%;
    height: auto;
    object-fit: contain;
}

.makeUp1 {
    max-width: 22%;
    margin-left: 10px;
}

.makeUp2 {
    max-width: 19%;
    position: absolute;
    top: -6px;
    right: 160px;
}