.footerLogo {
  height: 80px;
  width: 80px;
}

.footerBgImg {
  height: 100%;
  width: 100%;
}

.followSection {
  overflow: visible;
}

.followIcons {
  overflow: visible;
  align-items: center;
}

.socialIcons {
  height: 60px;
  width: 60px;
  background: white;
  border-radius: 50%;
  padding: 14px;
  transition: transform 0.2s;
  object-fit: contain;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialIcons:hover {
  transform: scale(1.1);
}
